# Node modules
node_modules

# Build output
.next
out

# Local env files
.env*
!.env.example

# System files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/settings
.vscode
.idea
*.swp

# TypeScript
*.tsbuildinfo

# Optional: OS junk (Windows, macOS caches)
Desktop.ini
